/* #region global */
button {
    border: 0;
    padding: 0;
}

button,
button:hover,
button:focus,
button:active {
    outline:0 !important;
}
/* #endregion */

html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 756px;    
}

body, .root-container { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

/* #region game modes container */
.game-modes-container {
    perspective: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-modes-container button {
    border: 0;
    background: #7d7a70;
    width: 100px;
    height: 30px;
    font-family: Train One, sans-serif;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: 0.3s;
    transform: translateY(85%);
}

.game-modes-container button:hover {
    transform: translateY(0%);
    box-shadow: blue 0 0 10px 5px;
    padding-left: auto;
}
/* #endregion */

/* #region game container */
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 756px;
    height: 420px;
    border-radius: 10px;
    background-color: #a39e90;
    box-shadow: #63625d 10px 10px 10px 10px;
    z-index: 1;
}

.game-container .game {
    display: grid;
    grid-template-columns: repeat(9, 24px);
    grid-template-rows: repeat(9, 24px);
}

.game button {
    width: 24px;
    height: 24px;
    background-size: 100%;
}

.game button.closed {
    background-image: url(./assets/closed.svg);
}

.game button.mine::before {
    content: "\2620";
    height: 24px;
    width: 24px;
    font-size: 20px;
    font-weight: bold;
}

.game button.mine.red {
    background-color: red;
}

.game button.flag::before {
    content: "\26F3";
    height: 24px;
    width: 24px;
    font-size: 16px;
    font-weight: bold;
    color: red;
}
/* #endregion */
