.HUD-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: silver;
}

.HUD {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 5px;
}

.HUD button {
    width: 40px;
    height: 40px;
    background-size: 100%;
}

.HUD .score,
.HUD .time {
    background-color: black;
    width: 58px;
    height: 34px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 3px #808080;
}

.HUD span,
.HUD span {
    height: 31px;
    width: 16px;
    background-size: 100%;
}

/*//<editor-fold desc="SVG AS BACKGROUND STYLES">*/

.HUD button.face-unpressed {
    background-image: url(../assets/face_unpressed.svg);
}

.HUD button.face-unpressed:active {
    background-image: url(../assets/face_pressed.svg);
}

.HUD button.face-lose {
    background-image: url(../assets/face_lose.svg);
}

.HUD span.d0 {
    background-image: url(../assets/Numbers/d0.svg);
}

.HUD span.d1 {
    background-image: url(../assets/Numbers/d1.svg);
}

.HUD span.d2 {
    background-image: url(../assets/Numbers/d2.svg);
}

.HUD span.d3 {
    background-image: url(../assets/Numbers/d3.svg);
}

.HUD span.d4 {
    background-image: url(../assets/Numbers/d4.svg);
}

.HUD span.d5 {
    background-image: url(../assets/Numbers/d5.svg);
}

.HUD span.d6 {
    background-image: url(../assets/Numbers/d6.svg);
}

.HUD span.d7 {
    background-image: url(../assets/Numbers/d7.svg);
}

.HUD span.d8 {
    background-image: url(../assets/Numbers/d8.svg);
}

.HUD span.d9 {
    background-image: url(../assets/Numbers/d9.svg);
}

/*//</editor-fold>*/
