.hud {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 247px;
    background-color: aliceblue;
}

.hud button {
    width: 40px;
    height: 40px;
    background-size: 100%;
}

.hud .score,
.hud .time {
    background-color: black;
    width: 58px;
    height: 34px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 3px #808080;
}

.hud span,
.hud span {
    height: 31px;
    width: 16px;
    background-size: 100%;
}

/* -- SVG AS BACKGROUND STYLES -- */

.hud button.face-unpressed {
    background-image: url(../assets/face_unpressed.svg);
}

.hud button.face-unpressed:active {
    background-image: url(../assets/face_pressed.svg);
}

.hud button.face-lose {
    background-image: url(../assets/face_lose.svg);
}

.hud span.d0 {
    background-image: url(../assets/Numbers/d0.svg);
}

.hud span.d1 {
    background-image: url(../assets/Numbers/d1.svg);
}

.hud span.d2 {
    background-image: url(../assets/Numbers/d2.svg);
}

.hud span.d3 {
    background-image: url(../assets/Numbers/d3.svg);
}

.hud span.d4 {
    background-image: url(../assets/Numbers/d4.svg);
}

.hud span.d5 {
    background-image: url(../assets/Numbers/d5.svg);
}

.hud span.d6 {
    background-image: url(../assets/Numbers/d6.svg);
}

.hud span.d7 {
    background-image: url(../assets/Numbers/d7.svg);
}

.hud span.d8 {
    background-image: url(../assets/Numbers/d8.svg);
}

.hud span.d9 {
    background-image: url(../assets/Numbers/d9.svg);
}
