/* -- GLOBAL STYLES -- */

button,
button:hover,
button:focus,
button:active {
    border: 0;
    padding: 0;
    outline:0 !important;
    margin-top: 0;
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 756px;
}

/* -- GAME STYLES -- */

body, .minesweeper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.game-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 756px;
    height: 433.7px;
    border-radius: 10px;
    background-color: #a39e90;
    box-shadow: #63625d 10px 10px 10px 10px;
    z-index: 1;
}
/*GMAE AND HUD CONTAINER BORDERS*/

/*TOP*/
.HUD-boreder-top {
    background-image: url("../assets/border_hor_2x.png");
    background-size: contain;
    height: 13.75px;
    width: 247px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

.HUD-boreder-top-R-corner {
    background-image: url("../assets/corner_up_right_2x.png");
    background-size: contain;
    background-position: center;
    width: 15px;
    height: 13.75px;
}

.HUD-boreder-top-l-corner {
    background-color: green;
    width: 15px;
    height: 13.75px;
    background-image: url("../assets/corner_up_left_2x.png");
    background-size: contain;
}

.HUD-boreder-right {
    background-image: url(../assets/border_vert_2x.png);
    background-size: contain;
    width: 15px;
    height: 50px;
}

.HUD-boreder-left {
    background-image: url(../assets/border_vert_2x.png);
    background-size: contain;
    width: 15px;
    height: 50px;
}

/*BOTOMN*/
.HUD-boreder-bottomn {
    display: flex;
    justify-content: space-between;
    background-image: url("../assets/border_hor_2x.png");
    background-size: contain;
    height: 13.7px;
    width: 247px;
}

.HUD-boreder-bottomn-R-corner {
    background-color: green;
    width: 14.75px;
    height: 14.75px;
    background-image: url("../assets/t_left_2x.png");
    background-size: contain;
}

.HUD-boreder-bottomn-L-corner {
    background-color: green;
    width: 15px;
    height: 14.75px;
    background-size: contain;
    background-image: url("../assets/t_right_2x.png");
    background-size: contain;
}


/*LEFT*/
/*.HUD-boreder-left {*/
/*     background-color: green;*/
/*     height: 50px;*/
/*     width: 13.7px;*/
/*}*/

/*GAME CONTAINER BORDERS*/
.GAME-border-bottomn {
    display: flex;
    justify-content: space-between;
    background-image: url("../assets/border_hor_2x.png");
    -webkit-transform:rotate(180de);
    background-size: contain;
    height: 13.7px;
    width: 243.4px;
    left: 30px;
}

.GAME-border-bottomn-L-corner {
    background-image: url("../assets/corner_up_right_2x.png");
    background-size: contain;

    width: 13.7px;
    height: 13.7px;
}

.GAME-border-bottomn-R-corner {

}