/* -- GLOBAL STYLES -- */

:root {
    --scale: 0.7; /* 100% */
}

button,
button:hover,
button:focus,
button:active {
    border: 0;
    padding: 0;
    outline:0 !important;
    margin-top: 0;
}

html, body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 756px;
}

/* -- GAME STYLES -- */

body, .minesweeper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.game-container {
    perspective: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 775px;
    min-height: 500px;
    border-radius: 10px;
    background-color: #a39e90;
    box-shadow: #63625d 10px 10px 10px 10px;
    z-index: 1;
}
/*GMAE AND HUD CONTAINER BORDERS*/

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-border {
    width: calc(24px * var(--scale));
    background-image: url(../assets/border_vert_2x.png);
    background-size: contain;
}


/*TOP*/
.HUD-border-top {
    background-image: url("../assets/border_hor_2x.png");
    background-size: contain;
    height: calc(22px * var(--scale));
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

.HUD-border-top-R-corner {
    background-image: url("../assets/corner_up_right_2x.png");
}

.HUD-border-top-L-corner {
    background-image: url("../assets/corner_up_left_2x.png");
    background-size: contain;
}

.HUD-border-small {
    background-image: url(../assets/border_vert_2x.png);
    background-size: contain;
    width: calc(24px * var(--scale));
    height: 50px;
}

/*BOTOMN*/
.HUD-border-bottom {
    display: flex;
    justify-content: space-between;
    background-image: url("../assets/border_hor_2x.png");
    background-size: contain;
    height: calc(22px * var(--scale));
}

.HUD-border-bottom-L-corner,
.HUD-border-bottom-R-corner {
    width: calc(24px * var(--scale));
    height: calc(22px * var(--scale));
    background-size: contain;
}

.HUD-border-bottom-L-corner {
    background-image: url("../assets/t_left_2x.png");
}

.HUD-border-bottom-R-corner {
    background-image: url("../assets/t_right_2x.png");
}

/*GAME CONTAINER BORDERS*/
.GAME-border-bottomn {
    display: flex;
    justify-content: space-between;
    background-image: url("../assets/border_hor_2x.png");
    background-size: contain;
    height: 13.7px;
    width: 243.4px;
    left: 30px;
}

.GAME-border-bottomn-L-corner {
    background-image: url("../assets/corner_up_right_2x.png");
    background-size: contain;
    width: 13.7px;
    height: 13.7px;
}

.game-footer {
    background-image: url("../assets/border_hor_2x.png");
    background-size: contain;
    height: calc(22px * var(--scale));
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

.game-footer-R-corner,
.game-footer-L-corner {
    background-size: cover;
    width: calc(24px * var(--scale));
    height: calc(22px * var(--scale));
}

.game-footer-L-corner {
    background-image: url(../assets/corner_bottom_left_2x.png);
}

.game-footer-R-corner {
    background-image: url(../assets/corner_bottom_right_2x.png);
}
