.menu {
    perspective: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu button {
    background: #7d7a70;
    width: 100px;
    height: 30px;
    font-family: Train One, sans-serif;
    border: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    transition: 0.1s;
    transform: translateY(85%);
}



.menu button:hover {
    transform: translateY(0%);
    box-shadow: blue 0 0 10px 5px;
    TODO: понять что не так со столем ниже
    padding-left: auto;
}
